.container {
    background-color: #1A1841;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .campo {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
  }
  
  input,
  button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }